*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(238, 238, 238);
    font-family: "Roboto", sans-serif;
}


div{
  margin: 20px 0;
   padding-bottom: 15px;
  width: 1200px;

    color: white;
    background-color: #22c587;
}

.title{
    background-color: #17855b;
    padding: 5px;
    padding-left: 30px;
}

.common{
    background-color: #22c587;
    padding: 5px 10px; 

}

